.PostCard {
    display: flex;             
    justify-content: center;    
    margin: 0;
    color: white;
     /* height: 100vh;    */       
}

.Card {

    
    
}



.CardLink {
    text-decoration: none;  
    color: inherit;     
    background-color: rgb(38, 38, 38);
    width: 600px;
    height: 300px;
    margin: 1rem;
}